body {
    background-color: #ffcb47;
    margin: 0px;
  }
  
  nav {
      display: flex;
      background-color: rgb(32, 32, 32);
  }
  
  #main-menu {
      display: flex;
      gap: 125px;
  }
  
  #main-menu li a {
    color:#ffcb47;
  }
  
  #main-menu li {
      list-style: none;
  }
  
  @font-face {
      font-family: "MinecraftRegular";
      src:
        url("fonts/MinecraftRegular.otf") format("opentype");
    }
    
    nav {
      font-family: "MinecraftRegular";
      font-size: 34px;
    }
  
    .websitebanner img {
      width: 100%;
    }
  
    h1 {
      font-family: "MinecraftRegular";
      font-size: 36px;
      text-align: center;
    }
  
    h2 {
      font-family: "MinecraftRegular";
      font-size: 36px;
      margin: 10px;
    }
  
    p {
      font-family: "MinecraftRegular";
      font-size: 24px;
      margin: 10px;
    }
  
    h3 {
      font-family: "MinecraftRegular";
      font-size: 36px;
      margin: 10px;
    }
  
    #Modlist li {
      list-style: none;
      font-family: "MinecraftRegular";
      margin: 10px;
  
    }
  
    .container {
      margin: 10px;
    }
  
    footer {
      font-family: "MinecraftRegular";
      font-size: 24px;
      display: flex;
      display: flex;
      justify-content: center;
      gap: 150px;
      list-style: none;
      margin: 10px;
    }