nav {
    display: flex;
}

#main-menu {
    display: flex;
    gap: 80px;

}

#main-menu li {
    list-style: none;

}

@font-face {
    font-family: "MinecraftRegular";
    src:
      url("fonts/MinecraftRegular.otf") format("opentype");
  }
  
  nav {
    font-family: "MinecraftRegular";
    font-size: 32px;
  }

  .websitebanner img {
    width: 100%;
  }

  h1 {
    font-family: "MinecraftRegular";
    font-size: 36px;
  }

  h2 {
    font-family: "MinecraftRegular";
    font-size: 36px;
  }

  p {
    font-family: "MinecraftRegular";
    font-size: 24px;
  }

  h3 {
    font-family: "MinecraftRegular";
    font-size: 36px;
  }

  footer {
    font-family: "MinecraftRegular";
    font-size: 24px;
    display: flex;
    gap: 50px;
    list-style: none;
  }