nav {
    display: flex;
}

#main-menu {
    display: flex;
    gap: 50px;

}

#main-menu li {
    list-style: none;

}

@font-face {
    font-family: "Minecraft";
    src:
    
      url("fonts/minecraft_font.ttf") format("ttf");
  }
  
  h1 {
    font-family: "Minecraft";
  }